@media (max-width: 1200px) {
  .navigation_menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .library {
    display: grid;
  }
}

@media (max-width: 1200px) {
  .drop_link {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .drop_link {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .divisions {
    flex-direction: row;
    display: flex;
  }
}

@media (max-width: 576px) {
  .library {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .news {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .divisions {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .footer_row {
    padding: 30px 30px 0px 30px;
  }
}

.pt_comm {
  font-size: 25px;
  list-style-type: none;
  font-weight: bold;
  margin: 32px 0 0;
}

.pt_comm {
  font-size: 23px;
}

@media (min-width: 992px) {
  nav-link {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
}

@media (max-width: 992px) {
  .link_header {
    font-size: 20px;
  }
}

